[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/vendor/vk-bootstrap"]
	path = engine/vendor/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "engine/vendor/SDL"]
	path = engine/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
